.table {
  display: block;
  overflow: auto;
  border: 1px solid #000;
}

.tr {
  border-bottom: 1px solid #000;
}

.th,
.td {
  position: relative;
  margin: 0;
  padding: 5px 10px;
  border-right: 1px solid #000;
}

.td {
  overflow-x: hidden;
  word-wrap: break-word;
}

.th:last-child,
.td:last-child {
  border-right: none;
}

.thead {
  overflow-y: auto;
  overflow-x: hidden;
}

.tbody {
  overflow-y: auto;
  overflow-x: hidden;
  height: 300px;
}

.resizer {
  position: absolute;
  z-index: 1;
  top: 0;
  right: -5px;
  width: 10px;
  height: 100%;
  background-color: #ccc;
}

.resizer:hover {
  background-color: #555;
}

.th:last-of-type .resizer {
  right: -15px;
}
