.table-wrapper {
  display: flex;
}

.filter-wrapper {
  flex: 1;
  max-width: 200px;
  margin-right: 20px;
}

.table {
  flex: 1;
  width: 100%;
  display: block;
  overflow: auto;
  border: 1px solid #ccc;
}

.thead {
  position: relative;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 1px 10px rgba(0,0,0,.15);

  .tr {
    box-sizing: border-box;
  }
}
.tr {
  min-width: 100%;
  width: auto !important;
  border-bottom: 1px solid #eee;
}

.th,
.td {
  position: relative;
  margin: 0;
  padding: 5px 10px;
}

.th {
  padding: 10px;
  font-weight: 600;

  &-sortable {
    height: 100%;
    width: 100%;
  }
}

.tbody .tr:hover {
  background-color: #eee;
}

.td {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.resizer {
  position: absolute;
  z-index: 1;
  top: 0;
  right: -5px;
  width: 10px;
  height: 100%;
  background-color: #eee;

  &:hover {
    background-color: #ccc;
  }
}

.th:last-of-type .resizer {
  right: -15px;
}

/* Column styles */
.active-col-name [data-column-id="name"],
.active-col-phone [data-column-id="phone"],
.active-col-email [data-column-id="email"],
.active-col-postal_code [data-column-id="postal_code"],
.active-col-country [data-column-id="country"],
.active-col-city [data-column-id="city"] {
  background-color: #eee;
}
